
* {
    margin: 0;
    padding: 0; 
  }
  
  ul {
    list-style: none;
  }
  li{
    list-style: none;
  }
  
  img {
    vertical-align: bottom; 
  }
  
  a {
    text-decoration: none;
    position: relative;
    display: block; 
  }
  
  input {
    outline: none; 
  }
  .w{
      width:1200px;
      margin:0 auto;
  }
  // ...............common end............
  
  
  // ...............header-top............
  .header-top{
    width: 100%;
    height: 80px;
    background: url(../img/h01.jpg) top center no-repeat;
    background-size: cover;
  }
  // ..............header-nav..............
  .header-nav{
    height:34px;
    font-size:12px;
    background:#f2f2f2;
    border:1px solid #e6e6e6;
    .w{
      width:1200px;
      height:100%;
      margin:0 auto;
      .header-nav-l{
        float:left;
        .item{
          float:left;
          line-height:34px;
          display:block;
          a{
            position: relative;
            display: block;
            height: 34px;
            padding: 0 8px;
            color:#737373;
            .ico{
              display: inline-block;
              width:24px;
              height:24px;
              vertical-align: middle;
              background:url(../img/bg.png) no-repeat;
            }
            .header-nav-01{
              background-position: 0px -318px;
            }
            .header-nav-02{
              background-position: -374px -131px;
            }
            .header-nav-03{
              background-position: -294px -171px;
          }
        }
      }
        .item-list{
          position: relative;
          border:1px solid transparent;
          .list{
            display:none;
            position: absolute;
            left:0;
            z-index: 1000;
            background: #fff;
            top:100%;
            p{
              text-align: center;
              font-size:12px;
              line-height:24px;
            }
          }
          &:hover{
            border:1px solid #d9d9d9;
            background: #fff;
            border-bottom:none;
          }
          &:hover .list{
            display: block;
            p{
              color:#ff852e;
            }
          } 
        }
        .menu{    
          font-size: 12px;
          margin: 0;
          padding: 10px;
          border: 1px solid #d9d9d9;
          border-top:none;
          border-radius: 0;
          img{
            width:124px;
            height:124px;
            display:block;
            border:0;
          }
        }
      }
      .header-nav-r{
        float:right;
        .item{
          position: relative;
          display: block;
          line-height: 33px;
          float: left;
          border: 1px solid transparent;
          padding:0 8px;
          font-size:12px;
          color:#737373;
          a{
            color:#737373;
            &:hover{
                color:#ff852e;
                text-decoration: none;
            }
          }
        }
        .nav-pipe{
          color:#999;
          padding:0;
        }
        .login{
          a{
            float:left;
            padding-right:4px;
            color:#737373;
            &:hover{
              color:#ff852e;
            }
          }
        }
        .service_item{
          position:relative;
          border:1px solid transparent;
          a{
            position: relative;
            display: block;
            height:34px;
            &:hover{
                color:#ff852e;
                text-decoration: none;
            }
            .header-nav-04{
            //   display: inline-block;
              width:12px;
              height:12px;
              vertical-align: middle;
            //   background:url(../img/bg.png) no-repeat;
            }
  
          }
          .service{
            position: absolute;
            left:0;
            top:100%;
            z-index: 1000;
            display: none;
            width: 81px;
            padding: 0 0 10px;
            text-align: center;
            border: 1px solid #d9d9d9;
            border-top:none;
            background: white;

            a{
              color:#737373;
             
              &:hover{
                color:#ff852e;
                text-decoration: none;
                }
            }
          }
          .nav-pipe{
            color:#999;
            padding:0;
          }
          &:hover {
            border:1px solid #d9d9d9;
            background: #fff;
            border-bottom:none;
          }
          &:hover .service{
            display: block;
          }
        }
        .dropcart_item{
          position: relative;
          &:hover{
            border:1px solid #d9d9d9;
            background: #fff;
            border-bottom:none;
          }
  
          a{
            position: relative;
            display:block;
            .ico{
              display: inline-block;
              width:24px;
              height:24px;
              vertical-align: middle;
              background:url(../img/bg.png) no-repeat;
            }
            .header-nav-05{
              background-position: -340px -284px;
            }
            span{
              color:#ff852e;
            }
            .header-nav-04{
            //   display: inline-block;
              width:12px;
              height:12px;
              vertical-align: middle;
            }
          }
          .dropcart{
            position: absolute;
            top:100%;
            right: 0;
            z-index: 1000;
            display: none;
            width: 320px;
            padding: 40px;
            text-align: center;
            border: 1px solid #d9d9d9;
            border-top:none;
            background: white;
          }
          &:hover .dropcart{
            display: block;
          }
        }
      }
      .nav-t-r{
        display: flex;
        align-items: center;
        li{
          padding:0 24px;
          &:hover a{
            color:#ff852e;
            text-decoration: underline;
          }
          a{
            color: #4d4d4d;
            font-size:15px;
            font-weight:600;
            &:hover{
                color:#ff852e;
                text-decoration: none;
            }
          }
        }
      }
    }
  }
// ...............header............
  .head{
    height: 120px;
    width: 1200px;
    margin: 0 auto;
    // display:inline-block;
    // background: pink;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left{
      width:500px;
      height:100%;
      img{
        width:500px;
      }
    }
    .header-center{
      .txt{
        width: 237px;
        height: 32px;
        border: 1px solid #ff6a00;
        float: left;
        font-size: 14px;
        color: #aeaeae;
        text-indent: 6px;
      }
      .btn{
        width: 82px;
        height: 34px;
        font-size: 16px;
        line-height: 34px;
        color: white;
        background: #ff6a00;
        border: none;
        float: left;
        border-radius: 0;
        line-height: 25px;
      }
      ul{
        list-style: none;
        li{
          display: inline-block;
          height: 28px;
          align-items: center;
          &:hover a{
            color:#ff852e;
            text-decoration:underline; 
          }
          a{
            font-size: 12px;
            color: #999;
            line-height: 28px;
            height: 28px;
            display: inline-block;
            }
          }
        img{
          width:3px;
          height:12px;
          vertical-align: middle;
        }
      }
    }
    .header-right{
      height: 34px;
      display: flex;
      text-align: center;
      .ico{
        width: 34px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background:url(../img/bg.png) no-repeat;
      }
      .header-r-01{
        background-position: -380px -46px;
      }
      .header-r-02{
        background-position: -294px -131px;
      }
      img{
        padding:0 20px;
      }
  
      a{
        color:#737373;
        font-size:12px;
      }
  
    }
  }
  // .................导航开始..............
  .nav-t{
    width:100%;
    height: 40px;
    border-bottom: 3px solid #ff6a00;
    .w{
        display: flex;
        align-items: center;
        width:1200px;
        height:100%;
        position: relative;
        .nav-t-l{
            position: relative;
            width:230px;
            height:40px;
            background: #ff6a00;
            .categrory-title{
                color: white;
                line-height: 40px;
                font-size: 15px;
                text-indent: 16px;
                font-weight: 800;
                padding:0 15px;
            
            }
            .dropdown-list{
                display:none;
                position: absolute;
                z-index: 999;
                top: 43px;
                left: 0;
                // width: 230px;
                border: 1px solid #e9e9e9;
                border-bottom:3px solid #ff6a00;
                padding:10px 15px 0;
                background: #fff;
                h4{
                  color: #ff6a00;
                  line-height: 24px;
                  height: 24px;
                  font-size:14px;
                  font-weight:600;
                }
                .dropdown-list-ul{
                  margin:0 0 8px;
                  padding:0 0 8px;
                  overflow: hidden;
                  border-bottom: 1px solid #e9e9e9;
                  li{
                    font-size: 12px;
                    line-height: 22px;
                    margin-right: 18px;
                    float:left;
                        &:hover a{
                        color:#ff852e;
                        text-decoration:underline;
                        }
                        a{
                        color:#737373;
                        }
                    }
                }
            }
        }
        .nav-t-r{
            display: flex;
            align-items: center;
            li{
                padding:0 24px;
                &:hover a{
                    color:#ff852e;
                    text-decoration: underline;
                }
                a{
                    color: #4d4d4d;
                    font-size:15px;
                    font-weight:600;
                }
            }
        } 
    } 
  }

// ..........content............
// ..........head............
.w{
  width:1200px;
  margin:0 auto;
}
.content{
  margin:10px 0;
  .header-img{
    width:100%;
    height:132px;
    vertical-align: middle;
  }
  .content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    padding: 10px 10px 6px 20px;
    border-bottom: 1px solid #484848;
    margin-bottom: 30px;
    font-size:12px;
    .title-left{
      display:flex;
      a{
        display:inline-block;
        margin-left:40px;
        height: 27px;
        line-height: 27px;
        color: #233333;
        &:hover{
          color:#ff852e;
        }
      }
      .active{
        color:#ff852e;
        margin-left:0;
      }
    }
    .title-right{
      display:flex;
      a{
        display:inline-block;
        height: 27px;
        line-height: 27px;
        color: #233333;
        &:hover{
          color:#ff852e;
        }
      }
      .line{
        margin: 0 10px;
        height: 27px;
        line-height: 27px;
        font-size: 12px;
      }

    }
  }
  .content-body{
    overflow: hidden;
    margin-bottom: 30px;
    
    li{
      float: left;
      width: 236px;
      height: 316px;
      border: 1px solid #eee;
      transition: 0.5s;
      a{
        color: #737373;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        img{
          width: 220px;
          height: 240px;
          margin: 10px auto 15px;
          
        }
        span{
          font-size: 14px;
          font-weight: bold;
          color: black;
      
        }
      }
    }
  }
}

// ......鲜花礼仪和鲜花常识......
.w{
    width:1200px;
    margin:0 auto;

    .info{
        background:#fff;
        border:1px solid #ebebeb;
        overflow: hidden;
        .title{
            // padding-left:20px;
            background: #ebebeb;
            padding: 1px 20px;
            color:#737373;
            font-size:12px;
            margin:0;
            h3{
                color:#737373;
                font-weight:normal;
                font-size:14px;
                line-height: 32px;
            }
        }
        .body{
            padding:15px;
            ul{    
                list-style-type: disc;
                float: left;
                width: 33%;
                li{
                    list-style-type: disc;
                    
                    line-height: 30px;
                    font-size:12px;
                    margin-left:40px;
                    a{
                        color:#999;
                    }
                }
            }
        }
    }
}





// .........尾部上........................
.footer-t{
    width:1000px;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:34px 0;
    background:#fff;
    li{
      // border-right:1px solid #aeaeae;
      color:#aeaeae;
      a{
        text-align: center;
        color:#aeaeae;
        font-size:12px;
      }
    }
  }
  
  .footer-b{
    width:986px;
    margin:0 auto;
    height:116px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bt{
   
    font-size: 12px;
    text-align: center;
    padding-bottom:10px;
    a{ 
      color: #737373;
      display: inline;
    }
    span{
      color: #737373;
      font-size: 12px;
      text-align: center;
    }
  }
  .link{
    font-size: 12px;
    width: 1200px;
    margin: 0 auto 10px;
    padding: 25px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display:flex;
    justify-content: space-between;
    align-items: center;
    a{
       font-size: 12px;
       color:#737373;
    }
  }